In [100]:
#import package
import pandas as pd
from geopy.distance import geodesic

pd.set_option('display.max_columns', None)

In [101]:
#import data
merged = pd.read_csv('/Users/samuelclark/Documents/UMBC Data Science /Machine learning/Final Projects/Data/merged.csv')
metro = pd.read_csv('/Users/samuelclark/Documents/UMBC Data Science /Machine learning/Final Projects/Data/Metro_Stations_in_DC.csv')

In [102]:
merged = merged.drop(columns=['Unnamed: 0'])
merged

,SHIFT,OFFENSE,WARD,LATITUDE,LONGITUDE,date,total_cases,daily_cases,daily_death,OUT_POSITIVE_QUARANTINE_PSMPD,MO,TU,WE,TH,FR,SA,SU,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ward_1,ward_2,ward_3,ward_4,ward_5,ward_6,ward_7,ward_8,ARSON,ASSAULT W/DANGEROUS WEAPON,BURGLARY,HOMICIDE,MOTOR VEHICLE THEFT,ROBBERY,SEX ABUSE,THEFT F/AUTO,THEFT/OTHER,DAY,EVENING,MIDNIGHT
0,MIDNIGHT,THEFT F/AUTO,5.0,38.918707,-76.962533,2017-10-28,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1
1,MIDNIGHT,ASSAULT W/DANGEROUS WEAPON,6.0,38.907643,-77.009053,2017-10-28,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1
2,MIDNIGHT,THEFT F/AUTO,6.0,38.901323,-77.016914,2017-10-28,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1
3,DAY,THEFT F/AUTO,6.0,38.883239,-77.018730,2017-10-27,0.0,0.0,0.0,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0
4,DAY,THEFT/OTHER,5.0,38.920933,-76.997157,2017-10-28,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147518,DAY,BURGLARY,5.0,38.913022,-76.975955,2021-02-04,37634.0,269.0,8.0,104.0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
147519,DAY,THEFT F/AUTO,7.0,38.874610,-76.967094,2021-02-04,37634.0,269.0,8.0,104.0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0
147520,DAY,THEFT F/AUTO,5.0,38.951338,-76.991691,2021-02-03,37365.0,166.0,6.0,106.0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
147521,DAY,ASSAULT W/DANGEROUS WEAPON,8.0,38.852403,-76.982313,2021-02-04,37634.0,269.0,8.0,104.0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
147522,DAY,THEFT F/AUTO,7.0,38.882841,-76.962044,2021-02-04,37634.0,269.0,8.0,104.0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0

In [103]:
#creating new column for tuple of x and y coordinates
merged['coords'] = tuple(zip(merged.LONGITUDE, merged.LATITUDE))
metro['coords2'] = tuple(zip(metro.X, metro.Y))

In [104]:
#distance from metro
distance = []
for index, row in merged.iterrows():
    for index2, row2 in metro.iterrows():
        x = geodesic(row['coords'], row2['coords2']).miles
        z = [index, index2, x]
        distance.append(z)
df = pd.DataFrame(distance, columns = ['index', 'metro_stop_id', 'distance'])
df2 = df.groupby(['index'], as_index=False).agg(
{
    'distance':'min'
})
df2

         index  distance
0            0  1.127080
1            1  0.191281
2            2  0.083638
3            3  0.135380
4            4  0.084503
...        ...       ...
147518  147518  0.418831
147519  147519  0.718883
147520  147520  0.345018
147521  147521  0.442869
147522  147522  1.045564

[147523 rows x 2 columns]

In [109]:
#join metro distance into crime data
df3 = pd.concat([merged, df2], axis=1)
df3

,SHIFT,OFFENSE,WARD,LATITUDE,LONGITUDE,date,total_cases,daily_cases,daily_death,OUT_POSITIVE_QUARANTINE_PSMPD,MO,TU,WE,TH,FR,SA,SU,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ward_1,ward_2,ward_3,ward_4,ward_5,ward_6,ward_7,ward_8,ARSON,ASSAULT W/DANGEROUS WEAPON,BURGLARY,HOMICIDE,MOTOR VEHICLE THEFT,ROBBERY,SEX ABUSE,THEFT F/AUTO,THEFT/OTHER,DAY,EVENING,MIDNIGHT,coords,index,distance
0,MIDNIGHT,THEFT F/AUTO,5.0,38.918707,-76.962533,2017-10-28,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,"(-76.96253311529999, 38.9187067412)",0,1.127080
1,MIDNIGHT,ASSAULT W/DANGEROUS WEAPON,6.0,38.907643,-77.009053,2017-10-28,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,"(-77.0090530223, 38.907642772399996)",1,0.191281
2,MIDNIGHT,THEFT F/AUTO,6.0,38.901323,-77.016914,2017-10-28,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,"(-77.0169144784, 38.901323441100004)",2,0.083638
3,DAY,THEFT F/AUTO,6.0,38.883239,-77.018730,2017-10-27,0.0,0.0,0.0,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,"(-77.0187301806, 38.8832386792)",3,0.135380
4,DAY,THEFT/OTHER,5.0,38.920933,-76.997157,2017-10-28,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,"(-76.99715700510001, 38.9209329952)",4,0.084503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147518,DAY,BURGLARY,5.0,38.913022,-76.975955,2021-02-04,37634.0,269.0,8.0,104.0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,"(-76.9759548322, 38.9130221422)",147518,0.418831
147519,DAY,THEFT F/AUTO,7.0,38.874610,-76.967094,2021-02-04,37634.0,269.0,8.0,104.0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,"(-76.9670938752, 38.874610442)",147519,0.718883
147520,DAY,THEFT F/AUTO,5.0,38.951338,-76.991691,2021-02-03,37365.0,166.0,6.0,106.0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,"(-76.99169130060001, 38.9513383536)",147520,0.345018
147521,DAY,ASSAULT W/DANGEROUS WEAPON,8.0,38.852403,-76.982313,2021-02-04,37634.0,269.0,8.0,104.0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,"(-76.98231291260001, 38.852403147800004)",147521,0.442869
147522,DAY,THEFT F/AUTO,7.0,38.882841,-76.962044,2021-02-04,37634.0,269.0,8.0,104.0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,"(-76.9620437819, 38.8828410779)",147522,1.045564

In [110]:
#dropping columns
#del df3['Unnamed: 0']
del df3['coords']
del df3['index']
#del df3['XBLOCK']
#del df3['YBLOCK']
#del df3['DISTRICT']
#del df3['METHOD']

df3

,SHIFT,OFFENSE,WARD,LATITUDE,LONGITUDE,date,total_cases,daily_cases,daily_death,OUT_POSITIVE_QUARANTINE_PSMPD,MO,TU,WE,TH,FR,SA,SU,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ward_1,ward_2,ward_3,ward_4,ward_5,ward_6,ward_7,ward_8,ARSON,ASSAULT W/DANGEROUS WEAPON,BURGLARY,HOMICIDE,MOTOR VEHICLE THEFT,ROBBERY,SEX ABUSE,THEFT F/AUTO,THEFT/OTHER,DAY,EVENING,MIDNIGHT,distance
0,MIDNIGHT,THEFT F/AUTO,5.0,38.918707,-76.962533,2017-10-28,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1.127080
1,MIDNIGHT,ASSAULT W/DANGEROUS WEAPON,6.0,38.907643,-77.009053,2017-10-28,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0.191281
2,MIDNIGHT,THEFT F/AUTO,6.0,38.901323,-77.016914,2017-10-28,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0.083638
3,DAY,THEFT F/AUTO,6.0,38.883239,-77.018730,2017-10-27,0.0,0.0,0.0,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0.135380
4,DAY,THEFT/OTHER,5.0,38.920933,-76.997157,2017-10-28,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0.084503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147518,DAY,BURGLARY,5.0,38.913022,-76.975955,2021-02-04,37634.0,269.0,8.0,104.0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0.418831
147519,DAY,THEFT F/AUTO,7.0,38.874610,-76.967094,2021-02-04,37634.0,269.0,8.0,104.0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0.718883
147520,DAY,THEFT F/AUTO,5.0,38.951338,-76.991691,2021-02-03,37365.0,166.0,6.0,106.0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0.345018
147521,DAY,ASSAULT W/DANGEROUS WEAPON,8.0,38.852403,-76.982313,2021-02-04,37634.0,269.0,8.0,104.0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0.442869
147522,DAY,THEFT F/AUTO,7.0,38.882841,-76.962044,2021-02-04,37634.0,269.0,8.0,104.0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1.045564

In [113]:
df3.dtypes

SHIFT                             object
OFFENSE                           object
WARD                             float64
LATITUDE                         float64
LONGITUDE                        float64
date                              object
total_cases                      float64
daily_cases                      float64
daily_death                      float64
OUT_POSITIVE_QUARANTINE_PSMPD    float64
MO                                 int64
TU                                 int64
WE                                 int64
TH                                 int64
FR                                 int64
SA                                 int64
SU                                 int64
JAN                                int64
FEB                                int64
MAR                                int64
APR                                int64
MAY                                int64
JUN                                int64
JUL                                int64
AUG                                int64
SEP                                int64
OCT                                int64
NOV                                int64
DEC                                int64
ward_1                             int64
ward_2                             int64
ward_3                             int64
ward_4                             int64
ward_5                             int64
ward_6                             int64
ward_7                             int64
ward_8                             int64
ARSON                              int64
ASSAULT W/DANGEROUS WEAPON         int64
BURGLARY                           int64
HOMICIDE                           int64
MOTOR VEHICLE THEFT                int64
ROBBERY                            int64
SEX ABUSE                          int64
THEFT F/AUTO                       int64
THEFT/OTHER                        int64
DAY                                int64
EVENING                            int64
MIDNIGHT                           int64
distance                         float64
dtype: object

In [115]:
#split data into covid not covid
covid_start_date = pd.to_datetime("2020-03-11").date()
df3['date'] = pd.to_datetime(df3['date']).dt.date

pre_covid_time = df3[(df3['date'] <= covid_start_date)]
covid_time = df3[(df3['date'] > covid_start_date)]

In [119]:
print(pre_covid_time.info())
print(covid_time.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104359 entries, 0 to 146071
Data columns (total 50 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   SHIFT                          104359 non-null  object
 1   OFFENSE                        104359 non-null  object
 2   WARD                           104359 non-null  float64
 3   LATITUDE                       104359 non-null  float64
 4   LONGITUDE                      104359 non-null  float64
 5   date                           104359 non-null  object
 6   total_cases                    104359 non-null  float64
 7   daily_cases                    104359 non-null  float64
 8   daily_death                    104359 non-null  float64
 9   OUT_POSITIVE_QUARANTINE_PSMPD  104359 non-null  float64
 10  MO                             104359 non-null  int64
 11  TU                             104359 non-null  int64
 12  WE                             104359 non-null  int64
 13  TH                             104359 non-null  int64
 14  FR                             104359 non-null  int64
 15  SA                             104359 non-null  int64
 16  SU                             104359 non-null  int64
 17  JAN                            104359 non-null  int64
 18  FEB                            104359 non-null  int64
 19  MAR                            104359 non-null  int64
 20  APR                            104359 non-null  int64
 21  MAY                            104359 non-null  int64
 22  JUN                            104359 non-null  int64
 23  JUL                            104359 non-null  int64
 24  AUG                            104359 non-null  int64
 25  SEP                            104359 non-null  int64
 26  OCT                            104359 non-null  int64
 27  NOV                            104359 non-null  int64
 28  DEC                            104359 non-null  int64
 29  ward_1                         104359 non-null  int64
 30  ward_2                         104359 non-null  int64
 31  ward_3                         104359 non-null  int64
 32  ward_4                         104359 non-null  int64
 33  ward_5                         104359 non-null  int64
 34  ward_6                         104359 non-null  int64
 35  ward_7                         104359 non-null  int64
 36  ward_8                         104359 non-null  int64
 37  ARSON                          104359 non-null  int64
 38  ASSAULT W/DANGEROUS WEAPON     104359 non-null  int64
 39  BURGLARY                       104359 non-null  int64
 40  HOMICIDE                       104359 non-null  int64
 41  MOTOR VEHICLE THEFT            104359 non-null  int64
 42  ROBBERY                        104359 non-null  int64
 43  SEX ABUSE                      104359 non-null  int64
 44  THEFT F/AUTO                   104359 non-null  int64
 45  THEFT/OTHER                    104359 non-null  int64
 46  DAY                            104359 non-null  int64
 47  EVENING                        104359 non-null  int64
 48  MIDNIGHT                       104359 non-null  int64
 49  distance                       104359 non-null  float64
dtypes: float64(8), int64(39), object(3)
memory usage: 40.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 43164 entries, 98031 to 147522
Data columns (total 50 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   SHIFT                          43164 non-null  object
 1   OFFENSE                        43164 non-null  object
 2   WARD                           43164 non-null  float64
 3   LATITUDE                       43164 non-null  float64
 4   LONGITUDE                      43164 non-null  float64
 5   date                           43164 non-null  object
 6   total_cases                    43164 non-null  float64
 7   daily_cases                    43164 non-null  float64
 8   daily_death                    43164 non-null  float64
 9   OUT_POSITIVE_QUARANTINE_PSMPD  43164 non-null  float64
 10  MO                             43164 non-null  int64
 11  TU                             43164 non-null  int64
 12  WE                             43164 non-null  int64
 13  TH                             43164 non-null  int64
 14  FR                             43164 non-null  int64
 15  SA                             43164 non-null  int64
 16  SU                             43164 non-null  int64
 17  JAN                            43164 non-null  int64
 18  FEB                            43164 non-null  int64
 19  MAR                            43164 non-null  int64
 20  APR                            43164 non-null  int64
 21  MAY                            43164 non-null  int64
 22  JUN                            43164 non-null  int64
 23  JUL                            43164 non-null  int64
 24  AUG                            43164 non-null  int64
 25  SEP                            43164 non-null  int64
 26  OCT                            43164 non-null  int64
 27  NOV                            43164 non-null  int64
 28  DEC                            43164 non-null  int64
 29  ward_1                         43164 non-null  int64
 30  ward_2                         43164 non-null  int64
 31  ward_3                         43164 non-null  int64
 32  ward_4                         43164 non-null  int64
 33  ward_5                         43164 non-null  int64
 34  ward_6                         43164 non-null  int64
 35  ward_7                         43164 non-null  int64
 36  ward_8                         43164 non-null  int64
 37  ARSON                          43164 non-null  int64
 38  ASSAULT W/DANGEROUS WEAPON     43164 non-null  int64
 39  BURGLARY                       43164 non-null  int64
 40  HOMICIDE                       43164 non-null  int64
 41  MOTOR VEHICLE THEFT            43164 non-null  int64
 42  ROBBERY                        43164 non-null  int64
 43  SEX ABUSE                      43164 non-null  int64
 44  THEFT F/AUTO                   43164 non-null  int64
 45  THEFT/OTHER                    43164 non-null  int64
 46  DAY                            43164 non-null  int64
 47  EVENING                        43164 non-null  int64
 48  MIDNIGHT                       43164 non-null  int64
 49  distance                       43164 non-null  float64
dtypes: float64(8), int64(39), object(3)
memory usage: 16.8+ MB
None

In [120]:
#export to DF
df3.to_csv(r'/Users/samuelclark/Documents/UMBC Data Science /Machine learning/Final Projects/Data/crime_covid_metro_11_28_2021.csv')
pre_covid_time.to_csv(r'/Users/samuelclark/Documents/UMBC Data Science /Machine learning/Final Projects/Data/pre_covid_time_11_28_2021.csv')
covid_time.to_csv(r'/Users/samuelclark/Documents/UMBC Data Science /Machine learning/Final Projects/Data/covid_time_11_28_2021.csv')