### Import libraries

In [1]:
import os
import pandas as pd
import copy

### List of directories with corresponding paths:

In [2]:
main_dir = os.path.abspath('..') # os.path.join(os.getcwd())
data_dir = os.path.join(main_dir, "Data")
shapefiles_dir = os.path.join(main_dir, data_dir, "shapefiles")

# Loading Crime Only dataset (original from DC Crime Data)

In [3]:
df_pre_covid_crime_only = pd.read_csv(os.path.join(data_dir, "Merged", "crime_pre-covid_time_data.csv"))
df_covid_crime_only = pd.read_csv(os.path.join(data_dir, "Merged", "crime_covid_time_data.csv"))

df_pre_covid_crime_only['START_DATE'] = pd.to_datetime(df_pre_covid_crime_only['START_DATE'])
df_covid_crime_only['START_DATE'] = pd.to_datetime(df_covid_crime_only['START_DATE'])

df_pre_covid_crime_only = df_pre_covid_crime_only.set_index(df_pre_covid_crime_only['START_DATE'])
df_covid_crime_only = df_covid_crime_only.set_index(df_covid_crime_only['START_DATE'])

del df_pre_covid_crime_only["START_DATE.1"]
del df_covid_crime_only["START_DATE.1"]

df_pre_covid_crime_only['date'] = pd.to_datetime(df_pre_covid_crime_only['START_DATE'].dt.date)
df_covid_crime_only['date'] = pd.to_datetime(df_covid_crime_only['START_DATE'].dt.date)


print("df_pre_covid_crime_only.shape:", df_pre_covid_crime_only.shape)
print("df_covid_crime_only.shape:", df_covid_crime_only.shape)

df_pre_covid_crime_only.shape: (20577, 15)
df_covid_crime_only.shape: (40841, 15)

In [4]:
df_pre_covid_crime_only

,START_DATE,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,WARD,DISTRICT,LATITUDE,LONGITUDE,END_DATE,geometry,date
START_DATE,,,,,,,,,,,,,,,
2017-01-01 00:28:57+00:00,2017-01-01 00:28:57+00:00,2017-01-02 01:16:13+00:00,EVENING,OTHERS,THEFT/OTHER,1900 - 2199 BLOCK OF RIDGECREST COURT SE,402201.041504,131112.794647,8.0,7.0,38.847816,-76.974645,2017-01-01 00:45:35+00:00,POINT (-76.97464451720001 38.8478160318),2017-01-01
2017-01-01 01:00:51+00:00,2017-01-01 01:00:51+00:00,2017-01-02 17:20:02+00:00,DAY,OTHERS,THEFT F/AUTO,1700 - 1799 BLOCK OF P STREET NW,396523.770000,137976.790000,2.0,2.0,38.909645,-77.040080,2017-01-02 03:00:58+00:00,POINT (-77.0400800705 38.9096454698),2017-01-01
2017-01-01 01:00:56+00:00,2017-01-01 01:00:56+00:00,2017-01-02 02:51:06+00:00,EVENING,OTHERS,THEFT F/AUTO,1821 - 1899 BLOCK OF 16TH STREET NW,396834.070000,138593.520000,2.0,3.0,38.915202,-77.036505,2017-01-01 20:30:39+00:00,POINT (-77.0365052323 38.9152023543),2017-01-01
2017-01-01 01:30:04+00:00,2017-01-01 01:30:04+00:00,2017-01-01 17:33:08+00:00,DAY,OTHERS,THEFT F/AUTO,1400 - 1499 BLOCK OF HALF STREET SW,399075.686781,133852.279706,6.0,1.0,38.872497,-77.010652,2017-01-01 16:30:44+00:00,POINT (-77.0106515543 38.8724967329),2017-01-01
2017-01-01 02:00:06+00:00,2017-01-01 02:00:06+00:00,2017-01-01 18:01:13+00:00,DAY,OTHERS,THEFT F/AUTO,1700 - 1799 BLOCK OF HOLBROOK STREET NE,401675.560000,137731.620000,5.0,5.0,38.907442,-76.980682,NaN,POINT (-76.9806818056 38.9074421713),2017-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-29 22:27:43+00:00,2020-02-29 22:27:43+00:00,2020-03-01 01:08:25+00:00,EVENING,OTHERS,THEFT/OTHER,1100 - 1199 BLOCK OF VERMONT AVENUE NW,397171.110000,137408.250000,2.0,2.0,38.904526,-77.032614,2020-02-29 22:29:41+00:00,POINT (-77.03261405949999 38.9045261865),2020-02-29
2020-02-29 22:32:27+00:00,2020-02-29 22:32:27+00:00,2020-02-29 23:40:38+00:00,EVENING,OTHERS,THEFT/OTHER,2400 - 2499 BLOCK OF 4TH STREET NE,399950.550000,139328.880000,5.0,5.0,38.921832,-77.000570,NaN,POINT (-77.0005702437 38.9218324194),2020-02-29
2020-02-29 22:58:26+00:00,2020-02-29 22:58:26+00:00,2020-03-01 00:03:01+00:00,EVENING,OTHERS,THEFT/OTHER,1900 - 1920 BLOCK OF 14TH STREET NW,397228.840000,138674.000000,2.0,3.0,38.915929,-77.031954,2020-02-29 23:48:13+00:00,POINT (-77.0319536026 38.9159286783),2020-02-29
2020-02-29 23:45:39+00:00,2020-02-29 23:45:39+00:00,2020-03-01 00:11:49+00:00,EVENING,OTHERS,THEFT/OTHER,1100 - 1199 BLOCK OF NEW YORK AVENUE NW,397610.110000,137008.120000,2.0,2.0,38.900923,-77.027551,2020-03-01 00:06:48+00:00,POINT (-77.0275514697 38.9009229772),2020-02-29
2020-02-29 23:50:32+00:00,2020-02-29 23:50:32+00:00,2020-03-01 02:26:54+00:00,EVENING,OTHERS,THEFT/OTHER,2400 - 2413 BLOCK OF MINNESOTA AVENUE SE,402435.988608,133902.252666,7.0,6.0,38.872944,-76.971928,2020-02-29 23:51:28+00:00,POINT (-76.97192810029999 38.8729440212),2020-02-29

In [5]:
df_covid_crime_only

,START_DATE,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,WARD,DISTRICT,LATITUDE,LONGITUDE,END_DATE,geometry,date
START_DATE,,,,,,,,,,,,,,,
2020-03-01 00:30:40+00:00,2020-03-01 00:30:40+00:00,2020-03-01 20:00:09+00:00,DAY,OTHERS,BURGLARY,1700 - 1728 BLOCK OF MONTELLO AVENUE NE,401248.340000,137937.670000,5.0,5.0,38.909299,-76.985607,2020-03-01 19:00:33+00:00,POINT (-76.98560701939999 38.9092990513),2020-03-01
2020-03-01 00:34:56+00:00,2020-03-01 00:34:56+00:00,2020-03-01 04:09:46+00:00,MIDNIGHT,OTHERS,THEFT/OTHER,4530 - 4599 BLOCK OF WISCONSIN AVENUE NW,393039.430000,142375.160000,3.0,2.0,38.949247,-77.080298,2020-03-01 01:09:31+00:00,POINT (-77.08029823859999 38.9492466458),2020-03-01
2020-03-01 00:49:10+00:00,2020-03-01 00:49:10+00:00,2020-03-01 01:31:03+00:00,EVENING,OTHERS,MOTOR VEHICLE THEFT,3100 - 3199 BLOCK OF DUMBARTON STREET NW,394592.970000,137753.310000,2.0,2.0,38.907623,-77.062340,2020-03-01 00:55:11+00:00,POINT (-77.06233995079999 38.9076225282),2020-03-01
2020-03-01 01:00:21+00:00,2020-03-01 01:00:21+00:00,2020-03-01 23:08:53+00:00,EVENING,OTHERS,THEFT F/AUTO,1100 - 1199 BLOCK OF FLORIDA AVENUE NW,397609.990000,139207.190000,1.0,3.0,38.920733,-77.027561,2020-03-01 22:00:29+00:00,POINT (-77.0275605069 38.9207329479),2020-03-01
2020-03-01 01:00:33+00:00,2020-03-01 01:00:33+00:00,2020-03-01 07:04:07+00:00,MIDNIGHT,OTHERS,THEFT F/AUTO,2600 - 2699 BLOCK OF 13TH STREET NW,397423.590000,139598.820000,1.0,3.0,38.924260,-77.029711,2020-03-01 06:20:25+00:00,POINT (-77.0297114565 38.9242603499),2020-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-20 23:40:00+00:00,2021-10-20 23:40:00+00:00,2021-10-21 00:16:07+00:00,EVENING,OTHERS,THEFT/OTHER,1325 - 1399 BLOCK OF PARK ROAD NW,397241.550000,140302.660000,1.0,3.0,38.930600,-77.031814,2021-10-21 00:00:00+00:00,POINT (-77.03181359120001 38.9306002081),2021-10-20
2021-10-20 23:58:00+00:00,2021-10-20 23:58:00+00:00,2021-10-21 01:40:53+00:00,EVENING,OTHERS,ROBBERY,L STREET NE AND 4TH STREET NE,399950.379998,137318.999997,6.0,5.0,38.903727,-77.000572,NaN,POINT (-77.0005720588 38.9037267418),2021-10-20
2021-10-21 02:00:00+00:00,2021-10-21 02:00:00+00:00,2021-10-21 02:50:35+00:00,EVENING,OTHERS,MOTOR VEHICLE THEFT,1200 - 1225 BLOCK OF 28TH STREET NW,395052.940000,137535.080000,2.0,2.0,38.905659,-77.057035,2021-10-21 02:52:00+00:00,POINT (-77.0570351903 38.9056593461),2021-10-21
2021-10-21 02:27:00+00:00,2021-10-21 02:27:00+00:00,2021-10-21 03:40:36+00:00,MIDNIGHT,OTHERS,THEFT F/AUTO,2401 - 2499 BLOCK OF 14TH STREET NW,397233.570000,139278.350000,1.0,3.0,38.921373,-77.031901,2021-10-21 02:55:00+00:00,POINT (-77.0319014973 38.9213728758),2021-10-21
2021-10-21 03:46:00+00:00,2021-10-21 03:46:00+00:00,2021-10-21 03:58:37+00:00,MIDNIGHT,GUN,ASSAULT W/DANGEROUS WEAPON,200 - 299 BLOCK OF 37TH PLACE SE,404182.407458,135422.580187,7.0,6.0,38.886633,-76.951793,2021-10-21 03:48:00+00:00,POINT (-76.9517934311 38.8866331512),2021-10-21

# Adding COVID-cases data

In [6]:
df_covid_cases_data_only = pd.read_csv(os.path.join(data_dir, "Merged", "covid_cases_district-of-columbia-history.csv"))

df_covid_cases_data_only = df_covid_cases_data_only[(df_covid_cases_data_only["state"])=="District of Columbia"]
df_covid_cases_data_only["covid_deaths"] = df_covid_cases_data_only['deaths']
df_covid_cases_data_only['covid_daily_case_count'] = df_covid_cases_data_only['cases']

del df_covid_cases_data_only["state"]
del df_covid_cases_data_only["deaths"]
del df_covid_cases_data_only["cases"]
del df_covid_cases_data_only["fips"]

In [7]:
df_covid_cases_data_only

             date  covid_deaths  covid_daily_case_count
353    2020-03-07             0                       1
387    2020-03-08             0                       1
422    2020-03-09             0                       4
459    2020-03-10             0                       4
500    2020-03-11             0                      10
...           ...           ...                     ...
33783  2021-11-06          1193                   64799
33839  2021-11-07          1193                   64799
33895  2021-11-08          1193                   65050
33951  2021-11-09          1193                   65094
34007  2021-11-10          1193                   65159

[614 rows x 3 columns]

In [8]:
# fix the column types and sort by date

In [9]:
df_covid_cases_data_only['index_date'] = pd.to_datetime(df_covid_cases_data_only['date'])
#df_covid_cases_data['Case_Date'] = df_covid_cases_data_only['date']
df_covid_cases_data_only = df_covid_cases_data_only.set_index(df_covid_cases_data_only['index_date']) #.dt.strftime('%Y-%m-%d')) # should it be END_DATE or what?
df_covid_cases_data_only = df_covid_cases_data_only.sort_index()

df_covid_cases_data_only = df_covid_cases_data_only[['date', 'covid_daily_case_count', 'covid_deaths']]
df_covid_cases_data_only['date'] = pd.to_datetime(df_covid_cases_data_only['date'])
df_covid_cases_data_only = df_covid_cases_data_only.rename(columns={"positive":"covid_daily_case_count"})

# Merging on the following data:

In [10]:
df_covid_cases_data_only.head()

                 date  covid_daily_case_count  covid_deaths
index_date
2020-03-07 2020-03-07                       1             0
2020-03-08 2020-03-08                       1             0
2020-03-09 2020-03-09                       4             0
2020-03-10 2020-03-10                       4             0
2020-03-11 2020-03-11                      10             0

In [11]:
df_covid_crime_only.head(5)

,START_DATE,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,WARD,DISTRICT,LATITUDE,LONGITUDE,END_DATE,geometry,date
START_DATE,,,,,,,,,,,,,,,
2020-03-01 00:30:40+00:00,2020-03-01 00:30:40+00:00,2020-03-01 20:00:09+00:00,DAY,OTHERS,BURGLARY,1700 - 1728 BLOCK OF MONTELLO AVENUE NE,401248.34,137937.67,5.0,5.0,38.909299,-76.985607,2020-03-01 19:00:33+00:00,POINT (-76.98560701939999 38.9092990513),2020-03-01
2020-03-01 00:34:56+00:00,2020-03-01 00:34:56+00:00,2020-03-01 04:09:46+00:00,MIDNIGHT,OTHERS,THEFT/OTHER,4530 - 4599 BLOCK OF WISCONSIN AVENUE NW,393039.43,142375.16,3.0,2.0,38.949247,-77.080298,2020-03-01 01:09:31+00:00,POINT (-77.08029823859999 38.9492466458),2020-03-01
2020-03-01 00:49:10+00:00,2020-03-01 00:49:10+00:00,2020-03-01 01:31:03+00:00,EVENING,OTHERS,MOTOR VEHICLE THEFT,3100 - 3199 BLOCK OF DUMBARTON STREET NW,394592.97,137753.31,2.0,2.0,38.907623,-77.062340,2020-03-01 00:55:11+00:00,POINT (-77.06233995079999 38.9076225282),2020-03-01
2020-03-01 01:00:21+00:00,2020-03-01 01:00:21+00:00,2020-03-01 23:08:53+00:00,EVENING,OTHERS,THEFT F/AUTO,1100 - 1199 BLOCK OF FLORIDA AVENUE NW,397609.99,139207.19,1.0,3.0,38.920733,-77.027561,2020-03-01 22:00:29+00:00,POINT (-77.0275605069 38.9207329479),2020-03-01
2020-03-01 01:00:33+00:00,2020-03-01 01:00:33+00:00,2020-03-01 07:04:07+00:00,MIDNIGHT,OTHERS,THEFT F/AUTO,2600 - 2699 BLOCK OF 13TH STREET NW,397423.59,139598.82,1.0,3.0,38.924260,-77.029711,2020-03-01 06:20:25+00:00,POINT (-77.0297114565 38.9242603499),2020-03-01

In [12]:
# Merge crime data with covid cases

# df_pre_covid_crime_only
# df_covid_crime_only

In [13]:
df_pre_covid_crime_and_covid_cases = copy.deepcopy(df_pre_covid_crime_only)
df_pre_covid_crime_and_covid_cases['covid_daily_case_count'] = 0
df_pre_covid_crime_and_covid_cases["covid_deaths"] = 0

df_covid_crime_and_cases = pd.merge(df_covid_crime_only, df_covid_cases_data_only, how='inner', on='date')

In [14]:
print("df_pre_covid_crime_only.shape:", df_pre_covid_crime_only.shape)
print("df_covid_crime_only.shape:", df_covid_crime_only.shape)
print()
print("df_pre_covid_crime_and_covid_cases.shape:", df_pre_covid_crime_and_covid_cases.shape)
print("df_covid_crime_and_cases.shape:", df_covid_crime_and_cases.shape)

df_pre_covid_crime_only.shape: (20577, 15)
df_covid_crime_only.shape: (40841, 15)

df_pre_covid_crime_and_covid_cases.shape: (20577, 17)
df_covid_crime_and_cases.shape: (40360, 17)

In [15]:
df_covid_crime_only

,START_DATE,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,WARD,DISTRICT,LATITUDE,LONGITUDE,END_DATE,geometry,date
START_DATE,,,,,,,,,,,,,,,
2020-03-01 00:30:40+00:00,2020-03-01 00:30:40+00:00,2020-03-01 20:00:09+00:00,DAY,OTHERS,BURGLARY,1700 - 1728 BLOCK OF MONTELLO AVENUE NE,401248.340000,137937.670000,5.0,5.0,38.909299,-76.985607,2020-03-01 19:00:33+00:00,POINT (-76.98560701939999 38.9092990513),2020-03-01
2020-03-01 00:34:56+00:00,2020-03-01 00:34:56+00:00,2020-03-01 04:09:46+00:00,MIDNIGHT,OTHERS,THEFT/OTHER,4530 - 4599 BLOCK OF WISCONSIN AVENUE NW,393039.430000,142375.160000,3.0,2.0,38.949247,-77.080298,2020-03-01 01:09:31+00:00,POINT (-77.08029823859999 38.9492466458),2020-03-01
2020-03-01 00:49:10+00:00,2020-03-01 00:49:10+00:00,2020-03-01 01:31:03+00:00,EVENING,OTHERS,MOTOR VEHICLE THEFT,3100 - 3199 BLOCK OF DUMBARTON STREET NW,394592.970000,137753.310000,2.0,2.0,38.907623,-77.062340,2020-03-01 00:55:11+00:00,POINT (-77.06233995079999 38.9076225282),2020-03-01
2020-03-01 01:00:21+00:00,2020-03-01 01:00:21+00:00,2020-03-01 23:08:53+00:00,EVENING,OTHERS,THEFT F/AUTO,1100 - 1199 BLOCK OF FLORIDA AVENUE NW,397609.990000,139207.190000,1.0,3.0,38.920733,-77.027561,2020-03-01 22:00:29+00:00,POINT (-77.0275605069 38.9207329479),2020-03-01
2020-03-01 01:00:33+00:00,2020-03-01 01:00:33+00:00,2020-03-01 07:04:07+00:00,MIDNIGHT,OTHERS,THEFT F/AUTO,2600 - 2699 BLOCK OF 13TH STREET NW,397423.590000,139598.820000,1.0,3.0,38.924260,-77.029711,2020-03-01 06:20:25+00:00,POINT (-77.0297114565 38.9242603499),2020-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-20 23:40:00+00:00,2021-10-20 23:40:00+00:00,2021-10-21 00:16:07+00:00,EVENING,OTHERS,THEFT/OTHER,1325 - 1399 BLOCK OF PARK ROAD NW,397241.550000,140302.660000,1.0,3.0,38.930600,-77.031814,2021-10-21 00:00:00+00:00,POINT (-77.03181359120001 38.9306002081),2021-10-20
2021-10-20 23:58:00+00:00,2021-10-20 23:58:00+00:00,2021-10-21 01:40:53+00:00,EVENING,OTHERS,ROBBERY,L STREET NE AND 4TH STREET NE,399950.379998,137318.999997,6.0,5.0,38.903727,-77.000572,NaN,POINT (-77.0005720588 38.9037267418),2021-10-20
2021-10-21 02:00:00+00:00,2021-10-21 02:00:00+00:00,2021-10-21 02:50:35+00:00,EVENING,OTHERS,MOTOR VEHICLE THEFT,1200 - 1225 BLOCK OF 28TH STREET NW,395052.940000,137535.080000,2.0,2.0,38.905659,-77.057035,2021-10-21 02:52:00+00:00,POINT (-77.0570351903 38.9056593461),2021-10-21
2021-10-21 02:27:00+00:00,2021-10-21 02:27:00+00:00,2021-10-21 03:40:36+00:00,MIDNIGHT,OTHERS,THEFT F/AUTO,2401 - 2499 BLOCK OF 14TH STREET NW,397233.570000,139278.350000,1.0,3.0,38.921373,-77.031901,2021-10-21 02:55:00+00:00,POINT (-77.0319014973 38.9213728758),2021-10-21
2021-10-21 03:46:00+00:00,2021-10-21 03:46:00+00:00,2021-10-21 03:58:37+00:00,MIDNIGHT,GUN,ASSAULT W/DANGEROUS WEAPON,200 - 299 BLOCK OF 37TH PLACE SE,404182.407458,135422.580187,7.0,6.0,38.886633,-76.951793,2021-10-21 03:48:00+00:00,POINT (-76.9517934311 38.8866331512),2021-10-21

In [16]:
df_covid_crime_and_cases

,START_DATE,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,WARD,DISTRICT,LATITUDE,LONGITUDE,END_DATE,geometry,date,covid_daily_case_count,covid_deaths
0,2020-03-07 00:00:18+00:00,2020-03-07 23:44:58+00:00,EVENING,OTHERS,THEFT/OTHER,1400 - 1499 BLOCK OF GIRARD STREET NW,397063.060000,139725.800000,1.0,3.0,38.925403,-77.033870,2020-03-07 14:00:22+00:00,POINT (-77.0338696729 38.925403095),2020-03-07,1,0
1,2020-03-07 00:07:26+00:00,2020-03-07 03:18:07+00:00,EVENING,OTHERS,THEFT F/AUTO,4300 - 4399 BLOCK OF VARNUM PLACE NE,400322.050000,141492.130000,5.0,4.0,38.941320,-76.996285,2020-03-07 00:47:04+00:00,POINT (-76.9962851937 38.94131958),2020-03-07,1,0
2,2020-03-07 00:17:13+00:00,2020-03-07 01:23:10+00:00,EVENING,OTHERS,THEFT/OTHER,3100 - 3299 BLOCK OF 14TH STREET NW,397162.060000,140182.430000,1.0,3.0,38.929517,-77.032730,2020-03-07 00:45:03+00:00,POINT (-77.03272986330001 38.9295168861),2020-03-07,1,0
3,2020-03-07 00:23:02+00:00,2020-03-07 05:16:41+00:00,MIDNIGHT,OTHERS,MOTOR VEHICLE THEFT,4200 - 4207 BLOCK OF GEORGIA AVENUE NW,397783.420000,141577.140000,4.0,4.0,38.942083,-77.025568,2020-03-07 01:23:19+00:00,POINT (-77.0255682456 38.9420826373),2020-03-07,1,0
4,2020-03-07 00:30:59+00:00,2020-03-07 07:11:23+00:00,MIDNIGHT,OTHERS,THEFT F/AUTO,400 - 499 BLOCK OF V STREET NE,399996.090000,138915.140000,5.0,5.0,38.918105,-77.000045,2020-03-07 06:15:26+00:00,POINT (-77.0000450867 38.9181053161),2020-03-07,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40355,2021-10-20 23:40:00+00:00,2021-10-21 00:16:07+00:00,EVENING,OTHERS,THEFT/OTHER,1325 - 1399 BLOCK OF PARK ROAD NW,397241.550000,140302.660000,1.0,3.0,38.930600,-77.031814,2021-10-21 00:00:00+00:00,POINT (-77.03181359120001 38.9306002081),2021-10-20,63400,1185
40356,2021-10-20 23:58:00+00:00,2021-10-21 01:40:53+00:00,EVENING,OTHERS,ROBBERY,L STREET NE AND 4TH STREET NE,399950.379998,137318.999997,6.0,5.0,38.903727,-77.000572,NaN,POINT (-77.0005720588 38.9037267418),2021-10-20,63400,1185
40357,2021-10-21 02:00:00+00:00,2021-10-21 02:50:35+00:00,EVENING,OTHERS,MOTOR VEHICLE THEFT,1200 - 1225 BLOCK OF 28TH STREET NW,395052.940000,137535.080000,2.0,2.0,38.905659,-77.057035,2021-10-21 02:52:00+00:00,POINT (-77.0570351903 38.9056593461),2021-10-21,63474,1186
40358,2021-10-21 02:27:00+00:00,2021-10-21 03:40:36+00:00,MIDNIGHT,OTHERS,THEFT F/AUTO,2401 - 2499 BLOCK OF 14TH STREET NW,397233.570000,139278.350000,1.0,3.0,38.921373,-77.031901,2021-10-21 02:55:00+00:00,POINT (-77.0319014973 38.9213728758),2021-10-21,63474,1186
40359,2021-10-21 03:46:00+00:00,2021-10-21 03:58:37+00:00,MIDNIGHT,GUN,ASSAULT W/DANGEROUS WEAPON,200 - 299 BLOCK OF 37TH PLACE SE,404182.407458,135422.580187,7.0,6.0,38.886633,-76.951793,2021-10-21 03:48:00+00:00,POINT (-76.9517934311 38.8866331512),2021-10-21,63474,1186

In [17]:
print("df_pre_covid_crime_only.shape:", df_pre_covid_crime_only.shape)
print("df_covid_crime_only.shape:", df_covid_crime_only.shape)
print()
print("df_pre_covid_crime_and_covid_cases.shape:", df_pre_covid_crime_and_covid_cases.shape)
print("df_covid_crime_and_cases.shape:", df_covid_crime_and_cases.shape)

df_pre_covid_crime_only.shape: (20577, 15)
df_covid_crime_only.shape: (40841, 15)

df_pre_covid_crime_and_covid_cases.shape: (20577, 17)
df_covid_crime_and_cases.shape: (40360, 17)

In [18]:
df_pre_covid_crime_and_covid_cases = df_pre_covid_crime_and_covid_cases.dropna()
df_covid_crime_and_cases = df_covid_crime_and_cases.dropna()

In [20]:
df_pre_covid_crime_and_covid_cases.to_csv("pre_covid_crime_and_covid_cases.csv")
df_covid_crime_and_cases.to_csv("covid_crime_and_covid_cases.csv")

# Example for reading in merged dataset that includes Crime and COVID case data

In [20]:
df_pre_covid_crime_and_covid_cases = pd.read_csv(os.path.join(data_dir, "Merged", "pre_covid_crime_and_covid_cases.csv"))
df_covid_crime_and_cases = pd.read_csv(os.path.join(data_dir, "Merged", "covid_crime_and_cases.csv"))

df_pre_covid_crime_and_covid_cases['REPORT_DAT'] = pd.to_datetime(df_pre_covid_crime_and_covid_cases['REPORT_DAT'])
df_pre_covid_crime_and_covid_cases['START_DATE'] = pd.to_datetime(df_pre_covid_crime_and_covid_cases['START_DATE'])
df_pre_covid_crime_and_covid_cases['END_DATE'] = pd.to_datetime(df_pre_covid_crime_and_covid_cases['END_DATE'])

df_covid_crime_and_cases['REPORT_DAT'] = pd.to_datetime(df_covid_crime_and_cases['REPORT_DAT'])
df_covid_crime_and_cases['START_DATE'] = pd.to_datetime(df_covid_crime_and_cases['START_DATE'])
df_covid_crime_and_cases['END_DATE'] = pd.to_datetime(df_covid_crime_and_cases['END_DATE'])

In [ ]:
df_pre_covid_crime_and_covid_cases = df_pre_covid_crime_and_covid_cases.dropna()
df_covid_crime_and_cases = df_covid_crime_and_cases.dropna()

In [21]:
print("Pre-COVID Crime with COVID Case data:", df_pre_covid_crime_and_covid_cases.shape)

print("COVID Crime with COVID Case data:", df_covid_crime_and_cases.shape)

Pre-COVID Crime with COVID Case data: (20577, 18)
COVID Crime with COVID Case data: (40360, 18)