In [1]:
import pandas as pd
from google.colab import files

In [2]:
# merge datasets from 2017 to 2021
merged_df = pd.concat(
    map(pd.read_csv, ['https://raw.githubusercontent.com/joannechoi/DC-Crime-Analysis/main/Data/Raw/Crime_Incidents_in_2017.csv',
                      'https://raw.githubusercontent.com/joannechoi/DC-Crime-Analysis/main/Data/Raw/Crime_Incidents_in_2018.csv',
                      'https://raw.githubusercontent.com/joannechoi/DC-Crime-Analysis/main/Data/Raw/Crime_Incidents_in_2019.csv',
                      'https://raw.githubusercontent.com/joannechoi/DC-Crime-Analysis/main/Data/Raw/Crime_Incidents_in_2020.csv', 
                      'https://raw.githubusercontent.com/joannechoi/DC-Crime-Analysis/main/Data/Raw/Crime_Incidents_in_2021.csv']), 
                   ignore_index=True)
merged_df

                X          Y  ...  OBJECTID OCTO_RECORD_ID
0      -76.962535  38.918715  ...  59507644            NaN
1      -77.009055  38.907651  ...  59507645            NaN
2      -77.016917  38.901331  ...  59507646            NaN
3      -77.018732  38.883246  ...  59507647            NaN
4      -76.997159  38.920941  ...  59507648            NaN
...           ...        ...  ...       ...            ...
151064 -76.975957  38.913030  ...  59507639            NaN
151065 -76.967096  38.874618  ...  59507640            NaN
151066 -76.991694  38.951346  ...  59507641            NaN
151067 -76.982315  38.852411  ...  59507642            NaN
151068 -76.962046  38.882849  ...  59507643            NaN

[151069 rows x 25 columns]

In [3]:
# drop unnecessary columns
df = merged_df.drop(['X', 'Y', 'CCN', 'ANC',
                     'PSA', 'CENSUS_TRACT', 'NEIGHBORHOOD_CLUSTER', 
                     'BLOCK_GROUP', 'VOTING_PRECINCT', 
                     'BID', 'OBJECTID',	'OCTO_RECORD_ID' ], axis = 1)
df

                    REPORT_DAT  ...                END_DATE
0       2017/10/28 09:00:40+00  ...  2017/10/28 08:24:52+00
1       2017/10/28 10:53:47+00  ...  2017/10/28 10:53:46+00
2       2017/10/28 09:35:47+00  ...  2017/10/28 08:45:33+00
3       2017/10/28 12:25:34+00  ...  2017/10/28 04:30:27+00
4       2017/10/28 13:02:41+00  ...  2017/10/28 12:30:25+00
...                        ...  ...                     ...
151064  2021/02/04 14:11:36+00  ...  2021/02/04 14:14:03+00
151065  2021/02/04 16:40:09+00  ...  2021/02/04 11:30:48+00
151066  2021/02/04 15:08:34+00  ...  2021/02/04 12:30:10+00
151067  2021/02/04 15:57:32+00  ...  2021/02/04 15:11:59+00
151068  2021/02/04 16:55:13+00  ...  2021/02/04 13:20:45+00

[151069 rows x 13 columns]

In [4]:
#download dataframe into a csv file
df.to_csv ('MergedData_2017-2021.csv', index = False, header=True)
files.download("MergedData_2017-2021.csv")

In [5]:
# view data types for each columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151069 entries, 0 to 151068
Data columns (total 13 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   REPORT_DAT  151069 non-null  object
 1   SHIFT       151069 non-null  object
 2   METHOD      151069 non-null  object
 3   OFFENSE     151069 non-null  object
 4   BLOCK       151069 non-null  object
 5   XBLOCK      151069 non-null  float64
 6   YBLOCK      151069 non-null  float64
 7   WARD        147528 non-null  float64
 8   DISTRICT    150926 non-null  float64
 9   LATITUDE    151069 non-null  float64
 10  LONGITUDE   151069 non-null  float64
 11  START_DATE  151064 non-null  object
 12  END_DATE    133124 non-null  object
dtypes: float64(6), object(7)
memory usage: 15.0+ MB

In [6]:
# convert REPORT_DAT, STATE_DATE, and END_DATE to datetime type 
df[['REPORT_DAT', 'START_DATE', 'END_DATE']]= df[['REPORT_DAT', 'START_DATE', 'END_DATE']].astype('datetime64[ns]')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151069 entries, 0 to 151068
Data columns (total 13 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   REPORT_DAT  151069 non-null  datetime64[ns]
 1   SHIFT       151069 non-null  object
 2   METHOD      151069 non-null  object
 3   OFFENSE     151069 non-null  object
 4   BLOCK       151069 non-null  object
 5   XBLOCK      151069 non-null  float64
 6   YBLOCK      151069 non-null  float64
 7   WARD        147528 non-null  float64
 8   DISTRICT    150926 non-null  float64
 9   LATITUDE    151069 non-null  float64
 10  LONGITUDE   151069 non-null  float64
 11  START_DATE  151064 non-null  datetime64[ns]
 12  END_DATE    133124 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(6), object(4)
memory usage: 15.0+ MB

In [7]:
#display number of null values
df.isna().sum()

REPORT_DAT        0
SHIFT             0
METHOD            0
OFFENSE           0
BLOCK             0
XBLOCK            0
YBLOCK            0
WARD           3541
DISTRICT        143
LATITUDE          0
LONGITUDE         0
START_DATE        5
END_DATE      17945
dtype: int64

In [8]:
# drop records with null values
crime = df.dropna()
crime.shape

(129848, 13)