### Import libraries

In [5]:
import os
import pandas as pd

### List of directories with corresponding paths:

In [6]:
main_dir = os.path.abspath('..') # os.path.join(os.getcwd())
data_dir = os.path.join(main_dir, "Data")
shapefiles_dir = os.path.join(main_dir, data_dir, "shapefiles")

In [15]:
df_pre_covid = pd.read_csv(os.path.join(data_dir, "Merged", "pre-covid_time_data.csv"))
df_covid = pd.read_csv(os.path.join(data_dir, "Merged", "covid_time_data.csv"))

df_pre_covid = df_pre_covid.set_index(df_pre_covid['START_DATE'])
df_covid = df_covid.set_index(df_covid['START_DATE'])

del df_pre_covid["START_DATE.1"]
del df_covid["START_DATE.1"]


print("df_pre_covid.shape:", df_pre_covid.shape)
print("df_covid.shape:", df_covid.shape)

df_pre_covid.shape: (20577, 14)
df_covid.shape: (40841, 14)

In [16]:
df_pre_covid.head()

,START_DATE,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,WARD,DISTRICT,LATITUDE,LONGITUDE,END_DATE,geometry
START_DATE,,,,,,,,,,,,,,
2017-01-01 00:28:57+00:00,2017-01-01 00:28:57+00:00,2017-01-02 01:16:13+00:00,EVENING,OTHERS,THEFT/OTHER,1900 - 2199 BLOCK OF RIDGECREST COURT SE,402201.041504,131112.794647,8.0,7.0,38.847816,-76.974645,2017-01-01 00:45:35+00:00,POINT (-76.97464451720001 38.8478160318)
2017-01-01 01:00:51+00:00,2017-01-01 01:00:51+00:00,2017-01-02 17:20:02+00:00,DAY,OTHERS,THEFT F/AUTO,1700 - 1799 BLOCK OF P STREET NW,396523.770000,137976.790000,2.0,2.0,38.909645,-77.040080,2017-01-02 03:00:58+00:00,POINT (-77.0400800705 38.9096454698)
2017-01-01 01:00:56+00:00,2017-01-01 01:00:56+00:00,2017-01-02 02:51:06+00:00,EVENING,OTHERS,THEFT F/AUTO,1821 - 1899 BLOCK OF 16TH STREET NW,396834.070000,138593.520000,2.0,3.0,38.915202,-77.036505,2017-01-01 20:30:39+00:00,POINT (-77.0365052323 38.9152023543)
2017-01-01 01:30:04+00:00,2017-01-01 01:30:04+00:00,2017-01-01 17:33:08+00:00,DAY,OTHERS,THEFT F/AUTO,1400 - 1499 BLOCK OF HALF STREET SW,399075.686781,133852.279706,6.0,1.0,38.872497,-77.010652,2017-01-01 16:30:44+00:00,POINT (-77.0106515543 38.8724967329)
2017-01-01 02:00:06+00:00,2017-01-01 02:00:06+00:00,2017-01-01 18:01:13+00:00,DAY,OTHERS,THEFT F/AUTO,1700 - 1799 BLOCK OF HOLBROOK STREET NE,401675.560000,137731.620000,5.0,5.0,38.907442,-76.980682,NaN,POINT (-76.9806818056 38.9074421713)

In [17]:
df_covid.head()

,START_DATE,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,WARD,DISTRICT,LATITUDE,LONGITUDE,END_DATE,geometry
START_DATE,,,,,,,,,,,,,,
2020-03-01 00:30:40+00:00,2020-03-01 00:30:40+00:00,2020-03-01 20:00:09+00:00,DAY,OTHERS,BURGLARY,1700 - 1728 BLOCK OF MONTELLO AVENUE NE,401248.34,137937.67,5.0,5.0,38.909299,-76.985607,2020-03-01 19:00:33+00:00,POINT (-76.98560701939999 38.9092990513)
2020-03-01 00:34:56+00:00,2020-03-01 00:34:56+00:00,2020-03-01 04:09:46+00:00,MIDNIGHT,OTHERS,THEFT/OTHER,4530 - 4599 BLOCK OF WISCONSIN AVENUE NW,393039.43,142375.16,3.0,2.0,38.949247,-77.080298,2020-03-01 01:09:31+00:00,POINT (-77.08029823859999 38.9492466458)
2020-03-01 00:49:10+00:00,2020-03-01 00:49:10+00:00,2020-03-01 01:31:03+00:00,EVENING,OTHERS,MOTOR VEHICLE THEFT,3100 - 3199 BLOCK OF DUMBARTON STREET NW,394592.97,137753.31,2.0,2.0,38.907623,-77.062340,2020-03-01 00:55:11+00:00,POINT (-77.06233995079999 38.9076225282)
2020-03-01 01:00:21+00:00,2020-03-01 01:00:21+00:00,2020-03-01 23:08:53+00:00,EVENING,OTHERS,THEFT F/AUTO,1100 - 1199 BLOCK OF FLORIDA AVENUE NW,397609.99,139207.19,1.0,3.0,38.920733,-77.027561,2020-03-01 22:00:29+00:00,POINT (-77.0275605069 38.9207329479)
2020-03-01 01:00:33+00:00,2020-03-01 01:00:33+00:00,2020-03-01 07:04:07+00:00,MIDNIGHT,OTHERS,THEFT F/AUTO,2600 - 2699 BLOCK OF 13TH STREET NW,397423.59,139598.82,1.0,3.0,38.924260,-77.029711,2020-03-01 06:20:25+00:00,POINT (-77.0297114565 38.9242603499)