In [1]:
#import packages
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl

In [2]:
#import data
df_crime = pd.read_csv('/content/MergedData_2017-2021.csv')
df_covid_ward = pd.read_excel('/content/DC-COVID-19-Data-for-11-5-2021.xlsx'
                              , sheet_name = 'Total Cases by Ward', engine='openpyxl')
df_covid_death = pd.read_excel('/content/DC-COVID-19-Data-for-11-5-2021.xlsx'
                               , sheet_name = 'Lives Lost by Ward', engine='openpyxl')
df_sick_police = pd.read_csv('/content/daily_count_police_out_due_to_covid.csv')

In [3]:
#delete columns not needed from crime data
del df_crime['REPORT_DAT']
del df_crime['BLOCK']
del df_crime['YBLOCK']
del df_crime['XBLOCK']
del df_crime['LATITUDE']
del df_crime['LONGITUDE']
del df_crime['END_DATE']

df_crime = df_crime.rename(columns = {'START_DATE':'date'})

df_crime['date'] = pd.to_datetime(df_crime['date']).dt.date
df_crime['date'] = pd.to_datetime(df_crime['date'])
df_crime.dtypes
df_crime

           SHIFT  METHOD                     OFFENSE  WARD  DISTRICT       date
0       MIDNIGHT  OTHERS                THEFT F/AUTO   5.0       5.0 2017-10-28
1       MIDNIGHT   KNIFE  ASSAULT W/DANGEROUS WEAPON   6.0       1.0 2017-10-28
2       MIDNIGHT  OTHERS                THEFT F/AUTO   6.0       1.0 2017-10-28
3            DAY  OTHERS                THEFT F/AUTO   6.0       1.0 2017-10-27
4            DAY  OTHERS                 THEFT/OTHER   5.0       5.0 2017-10-28
...          ...     ...                         ...   ...       ...        ...
151064       DAY  OTHERS                    BURGLARY   5.0       5.0 2021-02-04
151065       DAY  OTHERS                THEFT F/AUTO   7.0       6.0 2021-02-04
151066       DAY  OTHERS                THEFT F/AUTO   5.0       4.0 2021-02-03
151067       DAY   KNIFE  ASSAULT W/DANGEROUS WEAPON   8.0       7.0 2021-02-04
151068       DAY  OTHERS                THEFT F/AUTO   7.0       6.0 2021-02-04

[151069 rows x 6 columns]

In [4]:
df_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151069 entries, 0 to 151068
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   SHIFT     151069 non-null  object
 1   METHOD    151069 non-null  object
 2   OFFENSE   151069 non-null  object
 3   WARD      147528 non-null  float64
 4   DISTRICT  150926 non-null  float64
 5   date      151064 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 6.9+ MB

In [5]:
df_crime.isna().sum()

SHIFT          0
METHOD         0
OFFENSE        0
WARD        3541
DISTRICT     143
date           5
dtype: int64

In [6]:
#drop records with null records
df_crime = df_crime.dropna(axis=0)
print(df_crime.isna().sum())
print(df_crime.shape)

SHIFT       0
METHOD      0
OFFENSE     0
WARD        0
DISTRICT    0
date        0
dtype: int64
(147385, 6)

In [7]:
#covid case data
df_covid_ward = df_covid_ward.transpose()
df_covid_ward.reset_index(drop = True, inplace= True)
df_covid_ward.columns=('date', 'ward_1', 'ward_2', 'ward_3', 'ward_4', 'ward_5', 'ward_6'
                      , 'ward_7', 'ward_8', 'unknown')
df_covid_ward = df_covid_ward.iloc[1: , :]
df_covid_ward['date'] = pd.to_datetime(df_covid_ward['date'])
df_covid_ward['total_cases'] = (df_covid_ward['ward_1'] + df_covid_ward['ward_2'] + df_covid_ward['ward_3'] + df_covid_ward['ward_4'] + df_covid_ward['ward_5'] + df_covid_ward['ward_6'] +df_covid_ward['ward_7'] + df_covid_ward['ward_8'] +df_covid_ward['unknown'])
df_covid_ward['daily_cases'] = df_covid_ward['total_cases'].diff(1)

del df_covid_ward['ward_1']
del df_covid_ward['ward_2']
del df_covid_ward['ward_3']
del df_covid_ward['ward_4']
del df_covid_ward['ward_5']
del df_covid_ward['ward_6']
del df_covid_ward['ward_7']
del df_covid_ward['ward_8']
del df_covid_ward['unknown']

df_covid_ward.fillna(0, inplace=True)

df_covid_ward

          date  total_cases  daily_cases
1   2020-03-31          586            0
2   2020-04-01          653           67
3   2020-04-02          757          104
4   2020-04-03          902          145
5   2020-04-04          998           96
..         ...          ...          ...
536 2021-11-01        64541           71
537 2021-11-02        64602           61
538 2021-11-03        64708          106
539 2021-11-04        64799           91
540 2021-11-05        65053          254

[540 rows x 3 columns]

In [8]:
#death data
df_covid_death = df_covid_death.transpose()
df_covid_death.reset_index(drop = True, inplace= True)
df_covid_death.columns=('date', 'all', 'ward_1', 'ward_2', 'ward_3', 'ward_4', 'ward_5', 'ward_6'
                      , 'ward_7', 'ward_8', 'Experienced Homelessness', 'unknown', 'na')
df_covid_death = df_covid_death.iloc[1: , :]
df_covid_death['date'] = pd.to_datetime(df_covid_death['date'])
df_covid_death['daily_death'] = df_covid_death['all'].diff(1)

del df_covid_death['ward_1']
del df_covid_death['ward_2']
del df_covid_death['ward_3']
del df_covid_death['ward_4']
del df_covid_death['ward_5']
del df_covid_death['ward_6']
del df_covid_death['ward_7']
del df_covid_death['ward_8']
del df_covid_death['unknown']
del df_covid_death['na']
del df_covid_death['Experienced Homelessness']
del df_covid_death['all']

df_covid_death.fillna(0, inplace=True)

df_covid_death

          date  daily_death
1   2020-04-19            0
2   2020-04-20            7
3   2020-04-21           15
4   2020-04-22           12
5   2020-04-23           14
..         ...          ...
515 2021-11-01            2
516 2021-11-02            0
517 2021-11-03            0
518 2021-11-04            0
519 2021-11-05            0

[519 rows x 2 columns]

In [9]:
#sick police
df_sick_police = df_sick_police.rename(columns = {'DATE_REPORTED':'date'})
df_sick_police['date'] = pd.to_datetime(df_sick_police['date'])

df_sick_police.fillna(0, inplace=True)

df_sick_police

          date  OUT_POSITIVE_QUARANTINE_PSMPD
0   2020-03-07                            0.0
1   2020-03-08                            0.0
2   2020-03-09                            0.0
3   2020-03-10                            0.0
4   2020-03-11                            0.0
..         ...                            ...
589 2021-10-17                           42.0
590 2021-10-18                           43.0
591 2021-10-19                           43.0
592 2021-10-20                           43.0
593 2021-10-21                           43.0

[594 rows x 2 columns]

In [10]:
#merge the dataframes together
merged = df_crime.merge(df_covid_ward, how='left', on = 'date').merge(df_covid_death, how='left', on = 'date').merge(df_sick_police, how='left', on = 'date')

In [11]:
#getting weekday dummies
merged['weekday'] = merged['date'].dt.dayofweek
dummy0 = pd.get_dummies(merged['weekday'])
dummy0.columns = ['MO', 'TU', 'WE', 'TH', 'FR', 'SA', 'SU']
merged = pd.concat([merged, dummy0] , axis = 1)
del merged['weekday']

#get month dummies
merged['month'] = merged['date'].dt.month
dummy1 = pd.get_dummies(merged['month'])
dummy1.columns = ['JAN', 'FEB','MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP',
                 'OCT', 'NOV', 'DEC']              
merged = pd.concat([merged, dummy1] , axis = 1)
del merged['month']

crime_types = merged['OFFENSE'].unique()
dummy2 = pd.get_dummies(merged['OFFENSE'])
dummy2.columns = crime_types
merged = pd.concat([merged, dummy2] , axis = 1)

merged.columns

Index(['SHIFT', 'METHOD', 'OFFENSE', 'WARD', 'DISTRICT', 'date', 'total_cases',
       'daily_cases', 'daily_death', 'OUT_POSITIVE_QUARANTINE_PSMPD', 'MO',
       'TU', 'WE', 'TH', 'FR', 'SA', 'SU', 'JAN', 'FEB', 'MAR', 'APR', 'MAY',
       'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'THEFT F/AUTO',
       'ASSAULT W/DANGEROUS WEAPON', 'THEFT/OTHER', 'MOTOR VEHICLE THEFT',
       'BURGLARY', 'SEX ABUSE', 'ROBBERY', 'HOMICIDE', 'ARSON'],
      dtype='object')

In [12]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 147385 entries, 0 to 147384
Data columns (total 38 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   SHIFT                          147385 non-null  object
 1   METHOD                         147385 non-null  object
 2   OFFENSE                        147385 non-null  object
 3   WARD                           147385 non-null  float64
 4   DISTRICT                       147385 non-null  float64
 5   date                           147385 non-null  datetime64[ns]
 6   total_cases                    38189 non-null   float64
 7   daily_cases                    38189 non-null   float64
 8   daily_death                    37083 non-null   float64
 9   OUT_POSITIVE_QUARANTINE_PSMPD  43509 non-null   float64
 10  MO                             147385 non-null  uint8
 11  TU                             147385 non-null  uint8
 12  WE                             147385 non-null  uint8
 13  TH                             147385 non-null  uint8
 14  FR                             147385 non-null  uint8
 15  SA                             147385 non-null  uint8
 16  SU                             147385 non-null  uint8
 17  JAN                            147385 non-null  uint8
 18  FEB                            147385 non-null  uint8
 19  MAR                            147385 non-null  uint8
 20  APR                            147385 non-null  uint8
 21  MAY                            147385 non-null  uint8
 22  JUN                            147385 non-null  uint8
 23  JUL                            147385 non-null  uint8
 24  AUG                            147385 non-null  uint8
 25  SEP                            147385 non-null  uint8
 26  OCT                            147385 non-null  uint8
 27  NOV                            147385 non-null  uint8
 28  DEC                            147385 non-null  uint8
 29  THEFT F/AUTO                   147385 non-null  uint8
 30  ASSAULT W/DANGEROUS WEAPON     147385 non-null  uint8
 31  THEFT/OTHER                    147385 non-null  uint8
 32  MOTOR VEHICLE THEFT            147385 non-null  uint8
 33  BURGLARY                       147385 non-null  uint8
 34  SEX ABUSE                      147385 non-null  uint8
 35  ROBBERY                        147385 non-null  uint8
 36  HOMICIDE                       147385 non-null  uint8
 37  ARSON                          147385 non-null  uint8
dtypes: datetime64[ns](1), float64(6), object(3), uint8(28)
memory usage: 16.3+ MB

In [13]:
merged.fillna(0, inplace=True)

In [14]:
count = merged.groupby(['OFFENSE'], as_index=False).agg(
{
    'date':'count',
})
count

                      OFFENSE   date
0                       ARSON     33
1  ASSAULT W/DANGEROUS WEAPON   7824
2                    BURGLARY   6386
3                    HOMICIDE    804
4         MOTOR VEHICLE THEFT  12785
5                     ROBBERY   9722
6                   SEX ABUSE   1061
7                THEFT F/AUTO  46406
8                 THEFT/OTHER  62364

In [15]:
merged.loc[merged['daily_cases'] == 0].count()

SHIFT                            109965
METHOD                           109965
OFFENSE                          109965
WARD                             109965
DISTRICT                         109965
date                             109965
total_cases                      109965
daily_cases                      109965
daily_death                      109965
OUT_POSITIVE_QUARANTINE_PSMPD    109965
MO                               109965
TU                               109965
WE                               109965
TH                               109965
FR                               109965
SA                               109965
SU                               109965
JAN                              109965
FEB                              109965
MAR                              109965
APR                              109965
MAY                              109965
JUN                              109965
JUL                              109965
AUG                              109965
SEP                              109965
OCT                              109965
NOV                              109965
DEC                              109965
THEFT F/AUTO                     109965
ASSAULT W/DANGEROUS WEAPON       109965
THEFT/OTHER                      109965
MOTOR VEHICLE THEFT              109965
BURGLARY                         109965
SEX ABUSE                        109965
ROBBERY                          109965
HOMICIDE                         109965
ARSON                            109965
dtype: int64

In [16]:
merged.isna().sum()

SHIFT                            0
METHOD                           0
OFFENSE                          0
WARD                             0
DISTRICT                         0
date                             0
total_cases                      0
daily_cases                      0
daily_death                      0
OUT_POSITIVE_QUARANTINE_PSMPD    0
MO                               0
TU                               0
WE                               0
TH                               0
FR                               0
SA                               0
SU                               0
JAN                              0
FEB                              0
MAR                              0
APR                              0
MAY                              0
JUN                              0
JUL                              0
AUG                              0
SEP                              0
OCT                              0
NOV                              0
DEC                              0
THEFT F/AUTO                     0
ASSAULT W/DANGEROUS WEAPON       0
THEFT/OTHER                      0
MOTOR VEHICLE THEFT              0
BURGLARY                         0
SEX ABUSE                        0
ROBBERY                          0
HOMICIDE                         0
ARSON                            0
dtype: int64

In [17]:
#split into precovid/during covid
#merged.to_csv(r'/Users/samuelclark/Documents/UMBC Data Science /Machine learning/Final Projects/Data/merged.csv')

In [18]:
from google.colab import files
#merged.to_csv ('MergedData_covid_police.csv', index = False, header=True)
#files.download("MergedData_covid_police.csv")

In [19]:
merged

           SHIFT  METHOD                     OFFENSE  ...  ROBBERY  HOMICIDE ARSON
0       MIDNIGHT  OTHERS                THEFT F/AUTO  ...        0         1     0
1       MIDNIGHT   KNIFE  ASSAULT W/DANGEROUS WEAPON  ...        0         0     0
2       MIDNIGHT  OTHERS                THEFT F/AUTO  ...        0         1     0
3            DAY  OTHERS                THEFT F/AUTO  ...        0         1     0
4            DAY  OTHERS                 THEFT/OTHER  ...        0         0     1
...          ...     ...                         ...  ...      ...       ...   ...
147380       DAY  OTHERS                    BURGLARY  ...        0         0     0
147381       DAY  OTHERS                THEFT F/AUTO  ...        0         1     0
147382       DAY  OTHERS                THEFT F/AUTO  ...        0         1     0
147383       DAY   KNIFE  ASSAULT W/DANGEROUS WEAPON  ...        0         0     0
147384       DAY  OTHERS                THEFT F/AUTO  ...        0         1     0

[147385 rows x 38 columns]

In [20]:
merged = merged[merged['date'].dt.year >= 2017]

split_date = pd.datetime(2020,3,10)
preCovid = merged.loc[merged['date'] <= split_date]
Covid = merged.loc[merged['date'] > split_date]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
preCovid.shape

(103910, 38)

In [20]:
Covid.shape

(43199, 29)

In [21]:
from sklearn.model_selection import train_test_split
from lazypredict.Supervised import LazyRegressor

X1 = preCovid.loc[:, preCovid.columns != 'WARD']
y1 = preCovid['WARD']

X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=0.3, shuffle=True)
lazy = LazyRegressor(verbose=0, custom_metric=None)
preCovid_models, preCovid_predictions = lazy.fit(X1_train, X1_test, y1_train, y1_test)
print(preCovid_models)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:143: FutureWarning: The sklearn.utils.testing module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.utils. Anything that cannot be imported from sklearn.utils is now part of the private API.
  warnings.warn(message, FutureWarning)

In [ ]:
preCovid_models, preCovid_predictions = lazy.fit(X1_train, X1_test, y1_train, y1_test)
print(preCovid_models)

 24%|██▍       | 10/42 [00:05<00:26,  1.20it/s]

In [ ]:
X2 = Covid.loc[:, Covid.columns != 'WARD']
y2 = Covid['WARD']

X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.3, shuffle=True)
lazy = LazyRegressor(verbose=0, ignore_warnings=True, custom_metric=None)
Covid_models, Covid_predictions = lazy.fit(X2_train, X2_test, y2_train, y2_test)
print(Covid_models)